rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	match /{documents=**} {
    	allow read, write: if true;
      allow delete, update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
  }
}