html, body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgb(255, 0, 174)
}

::-webkit-scrollbar-track {
  background: #fff;
  position: absolute;
}